@{
    ViewData["Title"] = "فعالسازی حساب کاربری";
}
@section MetaTag
    {
    <meta name=googlebot content=noindex,nofollow>
    <meta name="description" content=" @ViewData["Title"] _ فروشگاه پوشاک زنانه به دخت">
}
<ul class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
    <li><a asp-controller="Account" asp-action="Register">حساب کاربری</a></li>
    <li><a asp-controller="Account" asp-action="Login">ورود</a></li>
</ul>

<div class="container">
    @if (ViewBag.Isactive)
    {
        <div class="alert alert-success">
            <i class="fa fa-check-circle"></i>حساب کاربری شما با موفقیت فعال شد
            <br/>
            <p>
                <a asp-controller="Account" asp-action="Login"> ورود به سایت</a>
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"></i>کاربری با مشخصات فوق یافت نشد
        </div>
    }
</div>


