@model MyEMShop.Data.Dtos.UserDto.ChangePasswordDto

@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<ul class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li><a href="/Login">حساب کاربری</a></li>
    <li><a href="/Register">ثبت نام</a></li>
</ul>
<div>
    <h2 class="subtitle">عملیات کلمه ی عبور</h2>
    <p><strong>تغییر کلمه ی  عبور</strong></p>
    <form class="form-horizontal col-sm-6" method="post">
        <div  class="form-group ">
            <label asp-for="OldPassword" class="control-label">کلمه ی عبور فعلی</label>
            <input asp-for="OldPassword" type="password" name="Oldpassword" value="" placeholder="کلمه ی عبور فعلی" id="input-password" class="form-control">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <label asp-for="Password" class="control-label" for="input-password">کلمه ی عبور جدید</label>
            <input asp-for="Password" type="password" name="password" value="" placeholder="کلمه ی عبور جدید" id="input-password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <label asp-for="RePassword" class="control-label" for="input-password">تکرار کلمه ی عبور جدید</label>
            <input asp-for="RePassword" type="password" name="Repassword" value="" placeholder="تکرار کلمه ی عبور جدید" id="input-password" class="form-control">
            <span asp-validation-for="RePassword" class="text-danger"></span>
        </div>
        <input type="submit" value="تغییر رمز عبور" class="btn btn-primary">
    </form>
    
</div>

