@using MyEMShop.Application.Interfaces;
@model MyEMShop.Data.Dtos.UserDto.ForgotPasswordDto
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-success">
        <i class="fa fa-success"></i>ایمیل بازیابی کلمه عبور برای شما ارسال شد
    </div>
}

<ul class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li><a href="/Login"> ورود</a></li>
    <li><a href="/ForgotPassword">بازیابی کلمه عبور</a></li>
</ul>

<div id="content" class="col-sm-9">
    <h1 class="title">بازیابی کلمه عبور</h1>
    <div class="col-sm-9">
        <p><strong>مرحله ی اول بازیابی کلمه ی عبور</strong></p>
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label asp-for="Email" class="control-label">آدرس ایمیل</label>
                <input asp-for="Email" type="text" name="email" value="" placeholder="آدرس ایمیل" id="input-email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="submit" value="ارسال ایمیل بازیابی" class="btn btn-primary">
        </form>
    </div>
</div>