@page "{id}"
@model MyEMShop.EndPoint.Pages.Admin.Group.EditGroupModel
@{
    ViewData["Title"] = "ویرایش گروه و زیرگروه";
}
<div id="page-wrapper">
    <div class="row">
        <form method="post">
            <input type="hidden" asp-for="group.ParentId" />
            <input type="hidden" asp-for="group.GroupId" />
            <div class="col-lg-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        اطلاعات گروه
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>عنوان گروه</label>
                            <input type="text" asp-for="group.GroupTitle" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-warning">ویرایش گروه </button>

                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>