@page
@model MyEMShop.EndPoint.Pages.Admin.Product.CreateProductModel
@{
    ViewData["Title"] = "افزودن محصول جدید";
}

<div id="page-wrapper">
    <div class="row">
        <form method="post">
            <div class="col-lg-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        اطلاعات محصول
                    </div>

                    <div class="panel-body">
                        <h3>اطلاعات محصول</h3>
                        <hr />
                        <div class="form-group">
                            <label>عنوان محصول</label>
                            <input type="text" asp-for="product.ProductTitle" class="form-control">
                            <span asp-validation-for="product.ProductTitle"></span>
                        </div>
                        <div class="form-group">
                            <label>گروه اصلی</label>
                            <select class="form-control" asp-for="product.GroupId" asp-items="@(ViewData["Groups"] as SelectList)"></select>
                        </div>
                        <div class="form-group">
                            <label>گروه فرعی</label>
                            <select class="form-control" asp-for="product.SubGroup" asp-items="@(ViewData["SubGroups"] as SelectList)"></select>
                        </div>
                        <div class="form-group">
                            <label>وضعیت محصول</label>
                            <select class="form-control" asp-for="product.PL_Id" asp-items="@(ViewData["ProductLevel"] as SelectList)"></select>
                        </div>
                        <div class="form-group">
                            <label>سایز محصول</label>
                            <select class="form-control" asp-for="product.PL_Id" asp-items="@(ViewData["ProductSize"] as SelectList)"></select>
                        </div>
                        <div class="form-group">
                            <label>رنگ محصول</label>
                            <input type="text" asp-for="product.ProductColors" class="form-control">
                            <span asp-validation-for="product.ProductColors"></span>
                        </div>
                        <div class="form-group">
                            <label>توضیح محصول</label>
                            <textarea type="text"  asp-for="product.ProductDescription" rows="6" class="form-control"></textarea>
                            <span asp-validation-for="product.ProductDescription"></span>
                        </div>
                        <div class="form-group">
                            <label>قیمت محصول</label>
                            <input type="number" asp-for="product.ProductPrice" value="0" class="form-control">
                            <span asp-validation-for="product.ProductPrice"></span>
                        </div>
                          <div class="form-group">
                            <label>بررسی محصول</label>
                            <textarea type="text"  asp-for="product.ProductCheck" rows="10" class="form-control"></textarea>
                            <span asp-validation-for="product.ProductCheck"></span>
                        </div>
                        <div class="form-group">
                            <label>کلمات کلیدی محصول</label>
                            <p class="help-block text-danger"> لطفا با - کلمات کلیدی را از هم جدا کنید</p>
                            <input type="text" asp-for="product.Tags" class="form-control">
                            <span asp-validation-for="product.Tags"></span>
                        </div>
                        <button type="submit" class="btn btn-success">ثبت محصول </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        عکس محصول
                    </div>

                    <div class="panel-body">
                        <img id="ImgProduct" class="thumbnail" src="/Template/image/product/Default.jpg" />
                        <div class="form-group">
                            <lable>تصویر محصول</lable>
                            <input type="file" multiple id="imgProductUp" asp-for="product.ProductImages"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
        <script>
        $("#product_GroupId").change(function(){
            $("#product_SubGroup").empty();
            $.getJSON("/home/GetSubGroups/" + $("#product_GroupId :selected").val(),function(data){

                $.each(data,function(){
                    $("#product_SubGroup").append('<option value = ' + this.value + '>' + this.text + '</option>');
                });
            });
        });

        //------------------------------------------------------------------------------------------Picture
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ImgProduct').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgProductUp").change(function () {
            readURL(this);
        });
        </script>
    }