@page
@model MyEMShop.EndPoint.Pages.Admin.Product.CreateProductModel
@{
    ViewData["Title"] = "افزودن محصول جدید";
}

<div id="page-wrapper">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="col-lg-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        اطلاعات محصول
                    </div>

                    <div class="panel-body">
                        <h3>اطلاعات محصول</h3>
                        <hr />
                        <div class="form-group">
                            <label>عنوان محصول</label>
                            <input type="text" asp-for="product.ProductTitle" class="form-control">
                            <span asp-validation-for="product.ProductTitle"></span>
                        </div>
                        <div >
                            <label>پیشنهاد محصول</label>
                            <input type="checkbox" asp-for="product.Isspecial">
                            <span asp-validation-for="product.Isspecial"></span>
                        </div>
                        <div class="form-group">
                            <label>جنس محصول</label>
                            <input type="text" asp-for="product.Productmark" class="form-control">
                            <span asp-validation-for="product.Productmark"></span>
                        </div>
                        <div class="form-group">
                            <label>گروه اصلی</label>
                            <select class="form-control" asp-for="product.GroupId" asp-items="@(ViewData["Groups"] as SelectList)"></select>
                        </div>
                        <div class="form-group">
                            <label>گروه فرعی</label>
                            <select class="form-control" asp-for="product.SubGroup" asp-items="@(ViewData["SubGroups"] as SelectList)"></select>
                        </div>
                        <div class="form-group">
                            <label>وضعیت محصول</label>
                            <select class="form-control" asp-for="product.PL_Id" asp-items="@(ViewData["ProductLevel"] as SelectList)"></select>
                        </div>
                        <div class="form-group">
                            <label>سایز محصول</label>
                            <select class="form-control" asp-for="product.PS_Id" asp-items="@(ViewData["ProductSize"] as SelectList)"></select>
                        </div>
                        <div class="form-group">
                            <label>رنگ محصول</label>
                            <input type="color" asp-for="product.Colors" class="form-control" name="Pcolor">
                            <span asp-validation-for="product.Colors"></span>
                        </div>
                        <div class="form-group">
                            <label>توضیح محصول</label>
                            <textarea type="text" asp-for="product.ProductDescription" rows="4" class="form-control"></textarea>
                            <span asp-validation-for="product.ProductDescription"></span>
                        </div>
                        <div class="form-group">
                            <label>توضیح کوتاه محصول</label>
                            <textarea type="text" asp-for="product.ProductShortDescription" rows="4" class="form-control"></textarea>
                            <span asp-validation-for="product.ProductShortDescription"></span>
                        </div>
                        <div class="form-group">
                            <label>قیمت محصول</label>
                            <input type="number" asp-for="product.ProductPrice" value="0" class="form-control">
                            <span asp-validation-for="product.ProductPrice"></span>
                        </div>
                        <div class="form-group">
                            <label>درصد تخفیف محصول</label>
                            <input type="number" asp-for="product.Save" value="0" class="form-control">
                            <span asp-validation-for="product.Save"></span>
                        </div>
                        <div class="form-group">
                            <label>بررسی محصول</label>
                            <textarea type="text" asp-for="product.ProductCheck" rows="10" class="form-control"></textarea>
                            <span asp-validation-for="product.ProductCheck"></span>
                        </div>
                        <div class="form-group">
                            <label>کلمات کلیدی محصول</label>
                            <p class="help-block text-danger"> لطفا با - کلمات کلیدی را از هم جدا کنید</p>
                            <input type="text" asp-for="product.Tags" class="form-control">
                            <span asp-validation-for="product.Tags"></span>
                        </div>
                        <button type="submit" class="btn btn-success">ثبت محصول </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                         عکس اصلی محصول
                    </div>

                    <div class="panel-body">
                        <img id="ImgProduct" class="thumbnail" src="/Template/image/product/MainPic/Default.jpg" />
                        <div class="form-group">
                            <lable>تصویر اصلی محصول</lable>
                            <input type="file" id="MainimgProductUp" name="MainimgProduct" asp-for="product.MainImageProduct" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        سایر عکس های محصول
                    </div>

                    <div class="panel-body">                 
                        <div class="form-group">
                            <lable>سایر تصاویر محصول</lable>
                            <input type="file" multiple id="imgProductUp" name="imgProduct" asp-for="product.ProductImages" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        دموی محصول
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <lable>فیلم معرفی محصول</lable>
                            <input type="file" id="DemoProductUp" name="DemoProduct" asp-for="product.ProductDemo" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <script>
        $("#product_GroupId").change(function () {
            $("#product_SubGroup").empty();
            $.getJSON("/home/GetSubGroups/" + $("#product_GroupId :selected").val(), function (data) {

                $.each(data, function () {
                    $("#product_SubGroup").append('<option value = ' + this.value + '>' + this.text + '</option>');
                });
            });
        });
        //------------------------------------------------------------------------------------------Picture
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ImgProduct').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#MainimgProductUp").change(function () {
            readURL(this);
        });

    </script>


    <script src="https://cdn.ckeditor.com/4.21.0/full/ckeditor.js"></script>

    <script>

        CKEDITOR.replace('product_ProductCheck', {
            customConfig: '/js/Config.js'
        });

        CKEDITOR.replace('product_ProductDescription', {
            customConfig: '/js/Config.js'
        });

        CKEDITOR.replace('product_ProductShortDescription', {
            customConfig: '/js/Config.js'
        });
    </script>

    }