@page
@model MyEMShop.EndPoint.Pages.Admin.Product.IndexModel
@{
    ViewData["Title"] = "مدیریت محصولات";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">محصولات</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    مدیریت محصولات
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="col-md-12" style="margin:10px 0;">
                        <a asp-page="CreateProduct" class="btn btn-success">افزودن محصول جدید</a>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default col-md-12">
                            <div class="panel-heading">
                                نمایش محصولات
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive ">
                                    <table class="table table-striped col-md-12">
                                        <thead>
                                            <tr>
                                                <th>نام محصول</th>
                                                <th>جنس محصول</th>
                                                <th>قیمت</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.products)
                                            {
                                                 <tr>
                                                    <td>@item.ProductTitle</td>
                                                    <td>@item.Productmark</td>
                                                    <td>@item.ProductPrice</td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>