@page "{id}"
@model MyEMShop.EndPoint.Pages.Admin.Banners.RemoveMiddleLeftBannerModel
@{
    ViewData["Title"] = "حذف بنر وسط چپ";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    حذف بنر وسط چپ
                </div>
                <div class="panel-body">
                    <form method="post">
                        <input type="hidden" asp-for="@Model.Banner.BannerId" />
                        <dl class="dl-horizontal">
                            <dt>عکس بنر :</dt>
                            <dd>
                                <image class="thumbnail" style="max-height:150px;" src="/Template/image/banner/@Model.Banner.BannerImage"></image>
                            </dd>
                            <dt></dt>
                            <dd>
                                <input type="submit" value="حذف بنر وسط چپ" class="btn btn-danger" />
                            </dd>
                        </dl>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>
