@page "{id}"
@model MyEMShop.EndPoint.Pages.Admin.Tax.UpdateTaxModel
@{
    ViewData["Title"] = "ویرایش مالیات";
}

<div id="page-wrapper">
    <div class="row">
        <form method="post">
            <input type="hidden" asp-for="@Model.Tax.TaxId" />
            <div class="col-lg-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        اطلاعات مالیات
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>مقدار مالیات</label>
                            <input type="number" asp-for="@Model.Tax.TaxValue" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-warning">ویرایش مالیات </button>

                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>