@page "{id}"
@model MyEMShop.EndPoint.Pages.Admin.Discount.EditDiscountModel
@{
    ViewData["Title"] = "ویرایش تخفیف";
}

<div id="page-wrapper">
    <div class="row">
        <form method="post">
            <input type="hidden" asp-for="Discount.DiscountId" />
            <div class="col-lg-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        اطلاعات تخفیف
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>کد تخفیف</label>
                            <input type="text" asp-for="Discount.DiscountCode" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>درصد تخفیف</label>
                            <input type="number" asp-for="Discount.DiscountPercent" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>تعداد کد تخفیف</label>
                            <input type="number" asp-for="Discount.UsableCount" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>تاریخ شروع کد تخفیف</label>
                            <input id="StDate" name="StDate" value="@((Model.Discount.StartDate is not null) ? Model.Discount.StartDate.Value.ToShamsi() : "")" style="width:150px;" />
                        </div>
                        <div class="form-group">
                            <label>تاریخ پایان کد تخفیف</label>
                            <input id="EdDate" name="EdDate" value="@((Model.Discount.EndDate is not null) ? Model.Discount.EndDate.Value.ToShamsi() : "")" style="width:150px;" />
                        </div>
                        <button type="submit" class="btn btn-warning">ویرایش</button>

                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts
    {
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="/KendoJs/JalaliDate.js"></script>
    <script src="/KendoJs/kendo.web.js"></script>
    <script src="/KendoJs/fa-IR.js"></script>
    <script src="/KendoJs/kendo.calendar.fa.js"></script>
    <script src="/KendoJs/kendo.datepicker.fa.js"></script>
    <script>
        $(document).ready(function () {
            $("#StDate").kendoDatePickerShamsi({ culture: "fa-IR" });
            $("#EdDate").kendoDatePickerShamsi({ culture: "fa-IR" });
        });
    </script>
  }