
<aside id="column-right" class=" col-sm-3 ">
    <h3 class="subtitle">حساب کاربری</h3>
    <div class="list-group">
        <ul class="list-item">
            <li><a asp-area="UserPannel" asp-controller="Home" asp-action="Index">حساب کاربری</a></li>
            <li><a asp-area="UserPannel" asp-controller="Home" asp-action="Edit"> ویرایش حساب کاربری</a></li>
            <li><a asp-area="UserPannel" asp-controller="Home" asp-action="ChangePassword">تغییر رمز عبور</a></li>
            <li><a asp-area="UserPannel" asp-controller="Wallet" asp-action="Index">عملیات کیف پول</a></li>
            <li><a asp-area="UserPannel" asp-controller="Order" asp-action="Index">فاکتورها</a></li>
            <li><a asp-area="UserPannel" asp-controller="Home" asp-action="MyComment">نظرات من</a></li>
            <li><a asp-area="UserPannel" asp-controller="Favorite" asp-action="Index">علاقه مندی های من</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">بازگشت</a></li>
            <li><a asp-controller="Account" asp-action="LogOut">خروج</a></li>
        </ul>
    </div>
</aside>




