@model MyEMShop.Data.Dtos.UserDto.ChangePasswordDto
@{
    ViewData["Title"] = "تغییر کلمه ی عبور";
}
@section MetaTag
{
<link rel="canonical" href="https://behdokhtcollection.ir/@ViewData["Title"]" />
}
<ul class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li><a href="/Login">ورود</a></li>
    <li><a href="/Register">ثبت نام</a></li>
</ul>

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/LogOut">خروج</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <aside class="col-sm-9">
                <h2 class="subtitle">عملیات کلمه ی عبور</h2>
                <p><strong>تغییر کلمه ی  عبور</strong></p>
                <form class="form-horizontal col-sm-6" method="post">
                    <div class="form-group ">
                        <label asp-for="OldPassword" class="control-label" >کلمه ی عبور فعلی</label>
                        <input asp-for="OldPassword" type="password" name="oldpassword"  placeholder="کلمه ی عبور فعلی" id="oldpassword" class="form-control">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="Password" class="control-label" >کلمه ی عبور جدید</label>
                        <input asp-for="Password" type="password" name="password"  placeholder="کلمه ی عبور جدید" id="password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="RePassword" class="control-label">تکرار کلمه ی عبور جدید</label>
                        <input asp-for="RePassword" type="password" name="Repassword"  placeholder="تکرار کلمه ی عبور جدید" id="repassword" class="form-control">
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>
                    <input type="submit" value="تغییر کلمه ی عبور" class="btn btn-primary">
                </form>
            </aside>
            <!--Middle Part End -->
            <!--Right Part Start -->
            <partial name="_SideBar" />
            <!--Right Part End -->
        </div>
    </div>
</div>
<div>


</div>

