@page
@model MyEMShop.EndPoint.Pages.Admin.AboutUs.AddAboutUsModel
@{
    ViewData["Title"] = "افزودن درباره ی ما";
}

<div id="page-wrapper">
    <div class="row">
        <form method="post">
            <div class="col-lg-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        افزودن درباره ی ما
                    </div>

                    <div class="panel-body">
                        <h3>افزودن درباره ی ما</h3>
                        <hr />
                        <div class="form-group">
                            <label> متن درباره ی ما</label>
                            <textarea type="text" asp-for="AboutUs.AboutUsText" rows="4" class="form-control"></textarea>
                            <span asp-validation-for="AboutUs.AboutUsText"></span>
                        </div>
                        <button type="submit" class="btn btn-success"> افزودن اطلاعات حریم خصوصی  </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {

    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('AboutUs_AboutUsText', {
            customConfig: '/js/Config.js'
        });
    </script>
}
