@model MyEMShop.Data.Entities.User.User 
@section MetaTag
{
    <meta name=googlebot content=noindex,nofollow>
}
<div dir="rtl" class="container" style="padding:20px">
<h2>@Model.UserName عزیز !</h2>
<p>با تشکر از ثبت نام شما در سایت ما. برای ادامه ی کار باید حساب کاربری خود را فعال کنید</p>
<br />
<p>
        <a href="https://behdokhtcollection.ir/Account/ActiveAccount/@Model.Activecode"> فعالسازی حساب کاربری</a>
</p>
</div>