

<div class="marketshop-banner">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="/Template/image/banner/sample-banner-1-400x200.jpg" alt="بنر نمونه 2" title="بنر نمونه 2" /></a></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="/Template/image/banner/sample-banner-2-400x200.jpg" alt="بنر نمونه" title="بنر نمونه" /></a></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="/Template/image/banner/sample-banner-3-400x200.jpg" alt="بنر نمونه 3" title="بنر نمونه 3" /></a></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="/Template/image/banner/sample-banner-2-400x200.jpg" alt="بنر نمونه 4" title="بنر نمونه 4" /></a></div>
    </div>
</div>