@using MyEMShop.Application.Interfaces;
@using MyEMShop.Data.Entities.Banners;

@inject IBannerService _banner
@{
    List<Banner> banner = _banner.GetAllBanners();
}
<div class="marketshop-banner">
    <div class="row">

        @foreach (var item in banner)
        {
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="@item.BannerLink"><img src="/Template/image/banner/@item.BannerImage" style="height:170px" alt="@item.BannerName" title="@item.BannerName" /></a>
            </div>
        }

    </div>
</div>