@using MyEMShop.Application.Interfaces;
@using MyEMShop.Data.Entities.Banners;
@inject IBigBannerService _bigbanner
@{
    List<Banner> banner = _bigbanner.GetAllBigBanners();
}
<div class="row">
    @foreach (var item in banner)
    {
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="@item.BannerLink"><img src="/Template/image/banner/@item.BannerImage" style="height:270px" alt="@item.BannerName" title="@item.BannerName" /></a>
        </div>
    }
</div>
