<div class="row">
    <div class="col-sm-3"><img src="image/product/store_location-275x180.jpg" alt="قالب مارکت شاپ" title="قالب مارکت شاپ" class="img-thumbnail"></div>
    <div class="col-sm-3">
        <strong>آدرس ما</strong><br>
        <address>
            میدان مرکزی،<br>
            خیابان وینگ شماره 22،<br>
            نیویورک،<br>
            ایالات متحده
        </address>
    </div>
    <div class="col-sm-3">
        <strong>شماره تلفن</strong><br>
        +91 9898989898<br>
    </div>
    <div class="col-sm-3">
        <strong>ساعات کار</strong><br>
        خدمات مشتریان 24x7<br>
        <br>
        <strong>دیدگاه ها</strong><br>
        در اینجا توضیحات دلخواه خود را قرار دهید. فروشگاه چک قبول نمیکند!
    </div>
</div>
