<div class="container">
    <div class="custom-feature-box row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="feature-box fbox_1">
                <div class="title">ارسال رایگان</div>
                <p>برای تمام خرید ها</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="feature-box fbox_2">
                <div class="title">مشاوره ی خرید</div>
                <p>مشاوره ی رایگان برای خرید محصول</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="feature-box fbox_3">
                <div class="title">کیفیت دوخت و پارچه</div>
                <p>تضمین بهترین کیفیت دوخت و پارچه در فروشگاه به دخت</p>
            </div>
        </div>
    </div>
</div>
