<footer id="footer">
    <div class="fpart-first">
        <div class="container">
            <div class="row pull-right">
                <img alt="BehDokht_Collection" src="/Template/image/Logo/1111.png">
            </div>
            <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12" style="margin-right:100px">
                <h5>اطلاعات</h5>
                <ul>
                    <li><a href="about-us.html">درباره ما</a></li>
                    <li><a href="about-us.html">اطلاعات 0 تومان</a></li>
                    <li><a href="about-us.html">حریم خصوصی</a></li>
                    <li><a href="about-us.html">شرایط و قوانین</a></li>
                </ul>
            </div>
            <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12" style="margin-right:50px">
                <h5>امکانات جانبی</h5>
                <ul>
                    <li><a href="#">برند ها</a></li>
                    <li><a href="#">کارت هدیه</a></li>
                    <li><a href="#">بازاریابی</a></li>
                    <li><a href="#">ویژه ها</a></li>
                </ul>
            </div>
            <div class=" col-lg-2 col-md-2 col-sm-3 col-xs-12" style="margin-right:50px">
                <h5>خدمات مشتریان</h5>
                <ul>
                    <li><a href="contact-us.html">تماس با ما</a></li>
                    <li><a href="#">بازگشت</a></li>
                    <li><a href="sitemap.html">نقشه سایت</a></li>
                </ul>
            </div>
            <div class="row pull-left">
                <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/Certificate/Enamad.jpg" style="max-height:170px;" alt="enamad" title="enamad"></a>
            </div>
        </div>
    </div>
    <div class="fpart-second">
        <div class="container">
            <div id="powered" class="clearfix">
                <div class="powered_text pull-left flip">
                    <p>کپی رایت © 2022 فروشگاه به دخت  <a href="" target="_blank"></a></p>
                </div>
                <div class="social pull-right flip">
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/Instagram.png" style="max-height:50px" alt="Instagram" title="Instagram"> </a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/WhatsUp.jpg" style="max-height:50px" alt="WhatsUp" title="WhatsUp"> </a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/LinkedIn.jpg" style="max-height:50px" alt="LinkedIn" title="LinkedIn"> </a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/Pinterest.jpg" style="max-height:50px" alt="Pinterest" title="Pinterest"> </a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/Skype.jpg" style="max-height:50px" alt="Skype" title="Skype"> </a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/Twitter.jpg" style="max-height:50px" alt="Twitter" title="Twitter"> </a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/YouTube.jpg" style="max-height:50px" alt="YouTube" title="YouTube"> </a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/Facebook.jpg" style="max-height:50px" alt="Facebook" title="Facebook"> </a>
                </div>
            </div>
        </div>
    </div>
    <div id="back-top"><a data-toggle="tooltip" title="بازگشت به بالا" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
</footer>
