<footer id="footer">
    <div class="fpart-first">
        <div class="container">
            <img style="margin-bottom:20px" class="center-block" alt="BehDokht_Collection" src="/Template/image/Logo/1111.png">
            <div style="margin-bottom:20px" class=" col-lg-2 col-md-2 col-sm-3 col-xs-12 ">
                    <h5>اطلاعات</h5>
                    <ul>
                        <li><a href="/Privacypolicy">حریم خصوصی</a></li>
                        <li><a href="/Terms">شرایط و قوانین</a></li>
                        <li><a href="/FAQ">سوالات متداول</a></li>
                    @*<li><a href="/SiteMap">نقشه سایت</a></li>*@
                    </ul>
                </div>
            <div style="margin-bottom:20px" class=" col-lg-2 col-md-2 col-sm-3 col-xs-12 ">
                    <h5>خدمات مشتریان</h5>
                    <ul>
                        <li><a href="/UserPannel/Index">پنل کاربری</a></li>
                        <li><a href="/UserPannel/Favorite">لیست علاقه مندی ها</a></li>
                        <li><a href="/UserPannel/Wallet">کیف پول </a></li>
                        <li><a href="/UserPannel/Order">فاکتور ها</a></li>

                    </ul>
                </div>
            <div style="margin-bottom:20px" class="col-lg-2 col-md-2 col-sm-3 col-xs-12 ">
                    <h5>تماس با ما</h5>
                    <ul>
                        <li><a href="/AboutUs">درباره ما</a></li>
                        <li><a href="/ContactUs">تماس با ما</a></li>
                        <li><a href="/">بازگشت</a></li>
                    </ul>
                </div>
            <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=398045&Code=mkLWcOlYnX6G7ZQ6l223mEXi7h7HekWB"> <img class="center-block" referrerpolicy="origin" data-toggle="tooltip" src="https://trustseal.enamad.ir/logo.aspx?id=398045&Code=mkLWcOlYnX6G7ZQ6l223mEXi7h7HekWB" style="cursor:pointer;" alt="enamad" title="enamad" Code="mkLWcOlYnX6G7ZQ6l223mEXi7h7HekWB"></a>
        </div>
    </div>
    <div class="fpart-second">
        <div class="container">
            <div class="row">
                <div id="powered" class="clearfix text-center">
                    <div class="powered_text pull-left flip">
                        <p>تمامی حقوق مادی و معنوی این سایت متعلق به <strong>به دخت</strong> می باشد و هرگونه کپی برداری غیرقانونی محسوب خواهد شد<a href="" target="_blank"></a></p>
                    </div>
                    <div class="social pull-right  flip">
                        <a href="//instagram.com/behdokht_collection" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/instagram.jpg" style="max-height:35px" alt="Instagram" title="Instagram"> </a>
                        <a href="//telegram.me/behdokht_collection" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/telegram.jpg" style="max-height:35px" alt="Telegram" title="Telegram"> </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="back-top"><a data-toggle="tooltip" title="بازگشت به بالا" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
</footer>
