<footer id="footer">
    <div class="fpart-first">
        <div class="container">
            <img style="margin-bottom:20px" class="center-block" alt="BehDokht_Collection" src="/Template/image/Logo/1111.png">
            <div style="margin-bottom:20px" class=" col-lg-2 col-md-2 col-sm-3 col-xs-12 ">
                    <h5>اطلاعات</h5>
                    <ul>
                    <li><a asp-controller="Home" asp-action="PrivacyPolicy">حریم خصوصی</a></li>
                    <li><a asp-controller="Home" asp-action="Terms">شرایط و قوانین</a></li>
                    <li><a asp-controller="Home" asp-action="FAQ">سوالات متداول</a></li>
                    <li><a asp-controller="Home" asp-action="SiteMap">نقشه سایت</a></li>
                    </ul>
                </div>
            <div style="margin-bottom:20px" class=" col-lg-2 col-md-2 col-sm-3 col-xs-12 ">
                    <h5>خدمات مشتریان</h5>
                    <ul>
                    <li><a asp-area="UserPannel" asp-controller="Home" asp-action="Index">پنل کاربری</a></li>
                    <li><a asp-area="UserPannel" asp-controller="Favorite" asp-action="Index">لیست علاقه مندی ها</a></li>
                    <li><a asp-area="UserPannel" asp-controller="Wallet" asp-action="Index">کیف پول </a></li>
                    <li><a asp-area="UserPannel" asp-controller="Order" asp-action="Index">فاکتور ها</a></li>

                    </ul>
                </div>
            <div style="margin-bottom:20px" class="col-lg-2 col-md-2 col-sm-3 col-xs-12 ">
                    <h5>تماس با ما</h5>
                    <ul>
                    <li><a asp-controller="Home" asp-action="AboutUs">درباره ما</a></li>
                    <li><a asp-controller="Home" asp-action="ContactUs">تماس با ما</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">بازگشت</a></li>
                    </ul>
                </div>
            <a referrerpolicy='origin' rel="noopener" target='_blank' href='https://trustseal.enamad.ir/?id=398045&Code=mkLWcOlYnX6G7ZQ6l223mEXi7h7HekWB'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=398045&Code=mkLWcOlYnX6G7ZQ6l223mEXi7h7HekWB' style='cursor:pointer' Code='mkLWcOlYnX6G7ZQ6l223mEXi7h7HekWB'></a>
        </div>
    </div>
    <div class="fpart-second">
        <div class="container">
            <div class="row">
                <div id="powered" class="clearfix text-center">
                    <div class="powered_text pull-left flip">
                        <p>تمامی حقوق مادی و معنوی این سایت متعلق به <strong>به دخت</strong> می باشد و هرگونه کپی برداری غیرقانونی محسوب خواهد شد<a href="" target="_blank"></a></p>
                    </div>
                    <div class="social pull-right  flip">
                        <a href="//instagram.com/behdokht_collection" rel="noopener" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/instagram.jpg" style="height:35px;width:auto" alt="Instagram" title="Instagram"> </a>
                        <a href="//telegram.me/behdokht_collection" rel="noopener" target="_blank"> <img data-toggle="tooltip" src="/Template/image/socialicons/telegram.jpg" style="height:35px;width:auto" alt="Telegram" title="Telegram"> </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="back-top"><a data-toggle="tooltip" title="بازگشت به بالا" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
</footer>
