@model MyEMShop.Data.Entities.User.User

<div dir="rtl" class="container" style="padding:20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>
        جهت بازیابی کلمه ی عبور خود روی لینک زیر کلیک کنید 
    </p>
    <br />
    <p>
        <a href="https://localhost:44392/Account/ResetPassword/@Model.Activecode"> بازیابی کلمه ی عبور</a>
    </p>
</div>
