<div class="slideshow single-slider owl-carousel">
    <div class="item"> <a href="#"><img class="img-responsive" src="/Template/image/slider/banner-2.jpg" alt="banner 2" /></a> </div>
    <div class="item"> <a href="#"><img class="img-responsive" src="/Template/image/slider/banner-1.jpg" alt="banner 1" /></a> </div>
</div>
<div class="marketshop-banner">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="/Template/image/banner/sample-banner-3-300x300.jpg" alt="بنر نمونه 2" title="بنر نمونه 2" /></a></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="/Template/image/banner/sample-banner-1-300x300.jpg" alt="بنر نمونه" title="بنر نمونه" /></a></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="/Template/image/banner/sample-banner-2-300x300.jpg" alt="بنر نمونه 3" title="بنر نمونه 3" /></a></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="/Template/image/banner/sample-banner-4-300x300.jpg" alt="بنر نمونه 4" title="بنر نمونه 4" /></a></div>
    </div>
</div>
