@model MyEMShop.Data.Entities.User.User 
@{
    ViewData["Title"] = "موفقیت در ثبت نام";
}

<div class="alert alert-success">
    <h2>@Model.UserName عزیز !</h2>
    <br />
    <p>ثبت نام شما با موفقیت در سایت انجام شد</p>
    <br />
    <p>ایمیلی حامل لینک فعالسازی برای شما به آدرس <strong>@Model.Email</strong> ارسال شده است</p>
    <br />
    <p> برای فعالسازی حساب کاربری خود روی لینک مورد نظر کلیک کنید</p>
    <br />
    <p> با تشکر از  شما</p>
</div>

