@model MyEMShop.Data.Entities.AboutUs.AboutUs
@{
    ViewData["Title"] = "درباره ی ما";

}

@section MetaTag
    {
        <meta name=googlebot content=index,follow>
        <meta name=robots content=noodp,noydir>
        <meta property=og:title content=@ViewData["Title"]>
    <meta property=og:description content=" @ViewData["Title"] _  فروشگاه پوشاک زنانه به دخت">
        <meta property=og:price:currency content="IRR">
        <meta property=og:locale content="ir_FA">
}
<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="AboutUs">درباره ما</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">درباره ما</h1>
                <div class="row">
                    <div class="col-sm-12">
                       @Html.Raw(Model.AboutUsText)
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>