<main id="main" class="other-pages" role="main">

	<article id="post-4520" class="post-4520 page type-page status-publish hentry">
		<section class="other-pages-content">
			<header class="entry-header">
				<h1 class="other-pages-title">متن شرایط و قوانین استفاده</h1>
			</header><!-- .entry-header -->
			<div class="entry-content">
				<p style="font-size: 16px; text-align: justify; direction: rtl;"><strong><span style="color: #0f99f0;">شرایط و قوانین استفاده از سرویس‌ها و خدمات کیان تن پوش</span></strong></p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی کیان تن پوش به دقت ملاحظه فرمایید.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">ورود کاربران به وب‏‌سایت کیان تن پوش هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری کیان تن پوش و سایر خدمات ارائه شده توسط کیان تن پوش به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات کیان تن پوش است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین کیان تن پوش از سوی کاربر است.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.</p>
				<p>&nbsp;</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;"><strong><span style="color: #0f99f0;">قوانین عمومی</span></strong></p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">توجه داشته باشید کلیه اصول و رویه‏‌های کیان تن پوش منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌های کیان تن پوش تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و بروز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.</p>
				<p>&nbsp;</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;"><strong><span style="color: #0f99f0;">ارتباطات الکترونیکی</span></strong></p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">جهت اطلاع رسانی رویدادها، خدمات و سرویس‌های ویژه یا پروموشن‌ها، امکان دارد کیان تن پوش برای اعضای وب سایت ایمیل یا پیامک ارسال نماید. در صورتی که کاربران تمایل به دریافت اینگونه ایمیل و پیامک‌ها نداشته باشند، می‌توانند عضویت دریافت خبرنامه کیان تن پوش را در پروفایل خود لغو کنند.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">توجه داشته باشید که ۳۰۰۰۶۱۹۳۰۰۰۰ و ۱۰۰۰۶۱۹۳۰۰۰۰ تنها شماره‌‌هایی است که کیان تن پوش از طریق آن برای کاربران و مشتریان خود پیامک (اس ام اس) ارسال می‌کند. همچنین این شماره‌‌ها سامانه ارسال پیامک است که وضعیت پردازش سفارش یا رویدادها، خدمات و سرویس‌های ویژه کیان تن پوش را به اطلاع کاربران می‌رساند و روشن است که امکان دریافت پیام‌های شما از طریق آن وجود ندارد.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">همچنین ممکن است کیان تن پوش از طریق شماره ۳۰۰۰۶۱۹۳۰۰۰۲ برای برخی کاربران یا مشتریان خود، سوال نظرسنجی ارسال کند.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">بنابراین ارسال هرگونه پیامک تحت عنوان کیان تن پوش، با هر شماره دیگری تخلف و سوء استفاده از نام کیان تن پوش است و در صورت دریافت چنین پیامکی، لطفاً جهت پیگیری قانونی آن را به Info@kiantp.com اطلاع دهید.</p>
				<p>&nbsp;</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;"><strong><span style="color: #0f99f0;">ثبت، پردازش، ارسال و انصراف سفارشات</span></strong></p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">– روز کاری به معنی روز شنبه تا پنج شنبه هر هفته، به استثنای تعطیلات عمومی در ایران است و کلیه سفارش‏‌های ثبت شده در طول روزهای کاری و اولین روز پس از تعطیلات پردازش می‌‏شوند. کیان تن پوش به مشتریان خود در ۷ روز هفته و ۲۴ ساعت در روز امکان سفارش‌‏گذاری می‌‏دهد.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">– کاربران باید هنگام سفارش کالای مورد نظر خود، فرم سفارش را با اطلاعات صحیح و به طور کامل تکمیل کنند. بدیهی است درصورت ورود اطلاعات ناقص یا نادرست، سفارش کاربر قابل پیگیری و تحویل نخواهد بود. بنابراین درج آدرس، ایمیل و شماره تماس‌های همراه و ثابت توسط مشتری، به منزله مورد تایید بودن صحت آنها است و در صورتی که این موارد به صورت صحیح یا کامل درج نشده باشد، کیان تن پوش جهت اطمینان از صحت و قطعیت ثبت سفارش می‌تواند از مشتری، اطلاعات تکمیلی و بیشتری درخواست کند.همچنین، مشتریان می‌توانند نام، آدرس و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند و اگر مبلغ سفارش از پیش پرداخت شده باشد، تحویل گیرنده سفارش هنگام دریافت کالا باید کارت شناسایی همراه داشته باشد.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">– با توجه به ثبت سیستمی سفارش، <span style="color: #ff0000;">به هیچ عنوان</span> امکان صدور فاکتور مجدد یا تغییر مشخصات آن از جمله تغییر فاکتوری که به نام شخص حقیقی صادر شده، به نام شخص حقوقی وجود ندارد. بنابراین لازم است مشتریان هنگام ثبت سفارش، نسبت به این مساله دقت لازم را داشته باشند و اگر نیاز دارند که فاکتور به نام حقوقی برای آنها صادر شود، هنگام ثبت سفارش خود، با انتخاب گزینه “تکمیل اطلاعات حقوقی” و وارد کردن مشخصات سازمان موردنظر، برای خرید سازمانی و دریافت فاکتور رسمی اقدام کنند.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">– با توجه به زمانبندی ارسال کالای خریداری شده به واحد پستی، امکان انصراف سفارشات ثبت و پرداخت شده، تنها ۱۲ ساعت پس از ثبت سفارش امکان پذیر می‌باشد.</p>
				<p>&nbsp;</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;"><strong><span style="color: #0f99f0;">نظرات کاربران</span></strong></p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">هدف از ایجاد بخش نظرات در کیان تن پوش، اشتراک‌گذاری تجربه‌ی خرید و کاربری محصولاتی است که به فروش می‌رسد. بدیهی است بخش نظرات کیان تن پوش با دیگر سایت‌ها و شبکه‌های اجتماعی متفاوت است. در این بخش، هر کاربر مجاز است در چهارچوب شرایط و قوانین سایت، نظرات خود را به اشتراک بگذارد و پس از بررسی کارشناسان تایید، نظرش را روی سایت مشاهده کند. بدیهی است که اگر قوانین سایت در نظرات کاربری رعایت نشود، تایید نمی‌شوند و در نتیجه در سایت به نمایش درنمی‌آیند. کیان تن پوش در قبال درستی یا نادرستی نظرات منتشرشده در این قسمت، هیچ‌گونه مسئولیتی ندارد. نمایش نظرات کاربران در سایت به‌هیچ‌وجه به معنی تایید فنی کیان تن پوش درباره‌ی محتویات نظر نیست؛ لذا از کاربران محترم تقاضا می‌شود، نظرات را اصل و پایه‌ی انتخاب و تصمیم‌گیری خود قرار ندهند.</p>
				<p>&nbsp;</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;"><strong><span style="color: #0f99f0;">شرایط و قوانین درج نظر در بخش نظرات کاربران</span></strong></p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">۱. نقد کاربران باید شامل قوت‌ها و ضعف‌های محصول در استفاده‌ی عملی و تجربه‌ی شخصی باشد و مزایا و معایب به‌صورت خلاصه و تیتروار در محل تعیین‌شده درج شود. لازم است تا حد ممکن از مبالغه و بزرگ‌نمایی مزایا یا معایب محصول خودداری کنید.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">نقد مناسب، نقدی است که فقط معایب یا فقط مزایا را در نظر نگیرد؛ بلکه به‌طور واقع‌بینانه معایب و مزایای هر محصول را در کنار هم بررسی کند.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">جهت احترام‌گذاشتن به وقت بازدیدکنندگان سایت، لازم است هنگام نوشتن نقد، مطالب غیرضروری را حذف کرده و فقط مطالب ضروری و مفید را در نقدتان لحاظ کنید.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">کاربران ارسال‌کننده‌ی نظر موظف‌اند از ادبیات محترمانه استفاده کرده و از توهین به دیگر کاربران یا سایر افراد پرهیز کنند. بدیهی است هرگونه توهین به فرد یا افراد و استفاده از کلمات نامناسب، باعث تاییدنشدن نظر کاربر می‌شود.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">قسمت نظرات سایت، با تالارهای گفت‌وگو (فروم) متفاوت است؛ لذا برای حفظ ساختار، مباحث خارج از چهارچوبی که حالت بحث و گفت‌وگو دارد، تایید نخواهد شد.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">با توجه به مسئولیت سایت در قبال لینک‌های موجود در آن، نباید لینک سایت‌های دیگر را در نظرات خود ثبت کنید. دقت داشته باشید تا جای ممکن از هرگونه لینک‌دادن (فرستادن) دیگر کاربران به سایت‌های دیگر و درج ایمیل یا نام کاربری شبکه‌های اجتماعی خودداری کنید.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">تنها نظراتی تایید خواهند شد که مرتبط با محصول موردنظر باشند؛ لذا بحث‌های متفرقه و غیرمرتبط با محصول را مطرح نکنید.</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">کاربران می‌توانند نقد خود به هر بخش از کیان تن پوش را در قسمت مربوط اعلام کنند؛ لذا هیچ‌گونه نقدی را درباره‌ی سایت یا خدمات آن در قسمت نظرات ننویسید.</p>
				<p>&nbsp;</p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;"><strong><span style="color: #0f99f0;">محتوا</span></strong></p>
				<p style="font-size: 16px; text-align: justify; direction: rtl;">© کلیه محتویات سایت کیان تن پوش شامل قانون حق تکثیر شده و به سایت کیان تن پوش تعلق دارد.</p>
			</div><!-- .entry-content -->
		</section>
	</article><!-- #post-## -->



</main>