@model MyEMShop.Data.Entities.Terms.Term
@{
    ViewData["Title"] = "شرایط و قوانین";

}

@section MetaTag
    {
    <meta name=googlebot content=index,follow>
    <meta name=robots content=noodp,noydir>
    <meta property=og:title content=@ViewData["Title"]>
    <meta property=og:description content=" @ViewData["Title"] _ فروشگاه پوشاک زنانه به دخت">
    <meta property=og:price:currency content="IRR">
    <meta property=og:locale content="ir_FA">
}
<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="Terms">شرایط و قوانین</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">شرایط و قوانین</h1>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Raw(Model.TermDescription)
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>