@{
    ViewData["Title"] = "نتیجه ی پرداخت";
}
@section MetaTag
    {
    <meta property=og:description content=" @ViewData["Title"] _ فروشگاه پوشاک زنانه به دخت">
}
<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/LogOut">خروج</a></li>
        </ul>
        <!-- Breadcrumb End-->
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success">
                <i class="fa fa-check-circle"></i>پرداخت با موفقیت انجام شد
                <br />
                <p>
                    کد پیگیری : @ViewBag.Code
                </p>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i>پرداخت با شکست مواجه شد
            </div>
        }
    </div>
    
</div>




