@{
    ViewData["Title"] = "نقشه ی سایت";
}

@section MetaTag
{
    <meta name="description" content=" @ViewData["Title"] _ فروشگاه پوشاک زنانه به دخت">
    <link rel="canonical" href="https://behdokhtcollection.ir/SiteMap" />
}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
            <li><a asp-controller="Home" asp-action="SiteMap">نقشه سایت</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">نقشه سایت</h1>
                <div class="row">
                    <div class="col-sm-3 hidden-xs hidden-sm sitemap-icon"><i class="fa fa-sitemap"></i></div>
                    <div class="col-md-5 col-sm-6">
                        <ul class="sitemap">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">خانه</a>
                                <ul>
                                    <li><a asp-controller="Account" asp-action="Login">ورود</a> </li>
                                    <li><a asp-controller="Account" asp-action="Register">ثبت نام</a> </li>
                                    <li><a asp-controller="Search" asp-action="Index">جستجو</a> </li>
                                    <li>
                                        <a>کاربران</a>
                                        <ul>
                                            <li><a asp-area="UserPannel" asp-controller="Home" asp-action="Index">حساب کاربری</a></li>
                                            <li><a asp-area="UserPannel" asp-controller="Home" asp-action="Edit">ویرایش حساب کاربری</a></li>
                                            <li><a asp-area="UserPannel" asp-controller="Home" asp-action="ChangePassword">تغییر رمز عبور</a></li>
                                            <li><a asp-area="UserPannel" asp-controller="Wallet" asp-action="Index">عملیات کیف پول</a></li>
                                            <li><a asp-area="UserPannel" asp-controller="Order" asp-action="Index">فاکتور ها</a></li>
                                            <li><a asp-area="UserPannel" asp-controller="Favorite" asp-action="Index">علاقه مندی ها</a></li>
                                            <li><a asp-area="UserPannel" asp-controller="Home" asp-action="MyComment">نظرات</a></li>
                                            <li><a asp-controller="Account" asp-action="LogOut">خروج</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/AboutUs">درباره ی ما</a>
                                        <ul>
                                            <li><a  asp-controller="Home" asp-action="Terms">قوانین و مقررات</a></li>
                                            <li><a asp-controller="Home" asp-action="PrivacyPolicy">حریم شخصی</a></li>
                                            <li><a asp-controller="Home" asp-action="FAQ">سوالات متداول</a></li>
                                            <li><a asp-controller="Home" asp-action="SiteMap">نقشه سایت</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-controller="Home" asp-action="ContactUs">تماس با ما</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>
