<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="SiteMap">نقشه سایت</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">نقشه سایت</h1>
                <div class="row">
                    <div class="col-sm-3 hidden-xs hidden-sm sitemap-icon"><i class="fa fa-sitemap"></i></div>
                    <div class="col-md-5 col-sm-6">
                        <ul class="sitemap">
                            <li>
                                <a href="/">خانه</a>
                                <ul>
                                    <li><a href="/Login">ورود</a> </li>
                                    <li><a href="/Register">ثبت نام</a> </li>
                                    <li><a href="/Search">جستجو</a> </li>
                                    <li>
                                        <a>کاربران</a>
                                        <ul>
                                            <li><a href="/UserPannel/Index">حساب کاربری</a></li>
                                            <li><a href="/UserPannel/Edit">ویرایش حساب کاربری</a></li>
                                            <li><a href="/UserPannel/ChangePassword">تغییر رمز عبور</a></li>
                                            <li><a href="/UserPannel/Wallet">عملیات کیف پول</a></li>
                                            <li><a href="/UserPannel/Order">فاکتور ها</a></li>
                                            <li><a href="/UserPannel/Favorite">علاقه مندی ها</a></li>
                                            <li><a href="/UserPannel/MyComment">نظرات</a></li>
                                            <li><a href="/LogOut">خروج</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/AboutUs">درباره ی ما</a>
                                        <ul>
                                            <li><a href="/Terms">قوانین و مقررات</a></li>
                                            <li><a href="/Privacypolicy">حریم شخصی</a></li>
                                            <li><a href="/FAQ">سوالات متداول</a></li>
                                            <li><a href="/SiteMap">نقشه سایت</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/ContactUs">تماس با ما</a></li>  
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>
