@using MyEMShop.Data.Entities.Product
@using MyEMShop.Common
@model Tuple<List<ProductComment>,int>
@{
    Layout = null;
}
@foreach (var item in Model.Item1)
{
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td style="width: 50%;"><strong><span>@item.User.UserName</span></strong></td>
                <td class="text-right"><span>@item.CreateDate.ToShamsi()</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>@item.Comment</p>
                </td>
            </tr>
        </tbody>
    </table>
}

