@page
@model MyEMShop.EndPoint.Pages.Admin.Faqs.AddFaqModel
@{
    ViewData["Title"] = "افزودن سوال جدید";
}

<div id="page-wrapper">
    <div class="row">
        <form method="post">
            <div class="col-lg-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        اطلاعات سوال
                    </div>

                    <div class="panel-body">
                        <h3>اطلاعات سوال</h3>
                        <hr />
                        <div class="form-group">
                            <label>گروه سوال</label>
                            <select class="form-control" asp-for="Faq.FaqGroupId" asp-items="@(ViewData["Groups"] as SelectList)"></select>
                        </div>
                        <div class="form-group">
                            <label>عنوان سوال</label>
                            <input type="text" asp-for="Faq.FaqQuestion" class="form-control">
                            <span asp-validation-for="Faq.FaqQuestion"></span>
                        </div>
                           <div class="form-group">
                            <label>جواب سوال</label>
                            <input type="text" asp-for="Faq.FaqAnswer" class="form-control">
                            <span asp-validation-for="Faq.FaqAnswer"></span>
                        </div>
                        <button type="submit" class="btn btn-success">ثبت سوال و جواب </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
