@page
@model MyEMShop.EndPoint.Pages.Admin.ContactUsInfo.AddContactUsInfoModel
@{
    ViewData["Title"] = "افزودن اطلاعات درباره ی ما";
}

<div id="page-wrapper">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        عکس  درباره ی ما
                    </div>
                    <div class="panel-body">
                        <img id="ImgContactUs" class="thumbnail" src="/Template/image/ContactUsInfo/" />
                        <div class="form-group">
                            <lable>تصویر درباره ی ما</lable>
                            <input type="file" id="MainimgContactUsUp" name="MainimgContactUs" asp-for="ContactUsInfo.ContactUsImage" />
                        </div>
                        <div class="form-group">
                            <label>شماره تلفن</label>
                            <input type="text" asp-for="ContactUsInfo.ContactUsPhone" class="form-control">
                            <span asp-validation-for="ContactUsInfo.ContactUsPhone"></span>
                        </div>
                         <div class="form-group">
                            <label>ساعت کاری</label>
                            <input type="text" asp-for="ContactUsInfo.ContactUsWorkTime" class="form-control">
                            <span asp-validation-for="ContactUsInfo.ContactUsWorkTime"></span>
                        </div>
                        <div class="form-group">
                            <label>شهر / استان</label>
                            <input type="text" asp-for="ContactUsInfo.ContactUsOstanCity" class="form-control">
                            <span asp-validation-for="ContactUsInfo.ContactUsOstanCity"></span>
                        </div>
                        <div class="form-group">
                            <label>آدرس</label>
                            <input type="text" asp-for="ContactUsInfo.ContactUsAddress" class="form-control">
                            <span asp-validation-for="ContactUsInfo.ContactUsAddress"></span>
                        </div>
                        <div class="form-group">
                            <label>پلاک</label>
                            <input type="text" asp-for="ContactUsInfo.ContactUsPelak" class="form-control">
                            <span asp-validation-for="ContactUsInfo.ContactUsPelak"></span>
                        </div>
                        <div class="form-group">
                            <label>توضیحات اضافی</label>
                            <input type="text" asp-for="ContactUsInfo.ContactUsDesc" class="form-control">
                            <span asp-validation-for="ContactUsInfo.ContactUsDesc"></span>
                        </div>
                        <button type="submit" class="btn btn-success">ثبت اطلاعات درباره ی ما </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts
    {
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ImgContactUs').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#MainimgContactUsUp").change(function () {
            readURL(this);
        });
    </script>
}
